training_xml/productNS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="competec:product" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product" type="com:productType" xmlns:com="competec:product"/>

  <xs:complexType name="productType">
    <xs:sequence>
      <xs:element type="com:categoriesType" name="categories" xmlns:com="competec:product"/>
      <xs:element type="com:descriptionType" name="description" maxOccurs="unbounded" minOccurs="0" xmlns:com="competec:product"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="sku"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>

    <xs:complexType name="descriptionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="type" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

  <xs:complexType name="categoriesType">
    <xs:sequence>
      <xs:element type="com:categoryType" name="category" xmlns:com="competec:product"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="categoryType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>